extends layout

block content
  h1= title
  h1.text-center Node.js URL Shortener

  div.container
  div.content
  div.well
    div(align='center')
      h1: a(href="#{shortUrl}") #{shortUrl}

      div.row
      p
        a.btn(href="/").btn-primary Make another